<div class="container" style="margin-top: 8%;">
    <br>
    <br>
    <nav style="text-align:center; ">
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/home">About</a>
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/blog">Blog</a>
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/team">Team</a>
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/price">Pricing</a>
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/contact">Contact</a>
        <a class="mainLinks" routerLinkActive="activebutton" routerLink="/terms">Terms</a>
    </nav>
    <br>
    <nav style="text-align:center; ">
        <!-- <span class="fab fa-facebook" style="float: inherit;"></span> -->
        <i class="mediaIcons fab fa-facebook" style="border-radius: 50%;"></i>
        <i class="mediaIcons fab fa-instagram"></i>
        <i class="mediaIcons fab fa-twitter"></i>
        <i class="mediaIcons fab fa-github"></i>
        <i class="mediaIcons fab fa-dribbble"></i>

    </nav>
    <br>
    
    <div style="padding-bottom: 4%; opacity: 50%;">
        <span>
            &#169; 2021 SomeCompany, Inc. All rights reserved.
        </span>
    </div>
</div>