
<div></div>
<h1 style="text-align:center; font-weight: 600 !important; padding: 3%;     font-size: 68px;"><b>Start Crafting Your</b>
    <br>
    <b style="color: rgba(7, 34, 182, 0.904);">Next Great Idea</b>
</h1>

<p style="text-align:center ; padding: 3%;">
    <span style="color: darkslategray;">
        Simplifying the creation of landing Pages, blog pages,
        <br> application pages and much more.
    </span>
</p>

<div style="text-align:center; padding: 2%; margin: 2%;" fxLayout="col">
    <button type="button"style="text-align:center; margin: 2%;" class="btn btn-pill btn-primary">Purchase now</button>
    <br>
    <span style="text-align:center">Learn more.</span>
</div>

<br>
<br>
<br>
<br>
<br>


<h5 style="text-align:center">TRUSTED BY TOP-LEADING COMPANIES.</h5>

<div fxLayout="row" style="text-align:center">
    <img src="../../assets/images/logo_ (1).png" alt="Disney+" srcset="">
    <img src="../../assets/images/logo_ (2).png" alt="Google" srcset="">
    <img src="../../assets/images/logo_ (3).png" alt="Hubspot" srcset="">
    <img src="../../assets/images/logo_ (4).png" alt="Youtube" srcset="">
    <img src="../../assets/images/logo_ (5).png" alt="Slack" srcset="">
    <img src="../../assets/images/logo_ (6).png" alt="Shopify" srcset="">
</div>

<div fxLayout="column" style="align-content: center; text-align: center;">
    <div fxLayout="row"  style="display: flex">
        <div fxFlexAlign="start" >
            <img src="../../assets/images/board_pic_1.png" alt="">
        </div>
        <div fxFlexAlign="end" >
            <h3><strong>Boost Productivity</strong></h3>
            <h6>Build an atmosphere that creates productivity in your organization and your company culture.</h6>
            <ul>
                <li>
                    Maximize Productivity and growth
                </li>
                <li>
                    Speed past your competition
                </li>
                <li>
                    Learn the top techniques
                </li>
            </ul>
        </div>
    </div>
    <div fxLayout="row"  style="display: flex">
        <div fxFlexAlign="end" >
            <h3><strong>Automated Tasks</strong></h3>
            <h6>Save time and money with our revolutionary services. We are the leaders in industry.</h6>
            <ul>
                <li>
                    Automated task management workflow
                </li>
                <li>
                    Detailed analytics for your data
                </li>
                <li>
                    Some awesome integrations
                </li>
            </ul>
        </div>
        <div>
            <img src="../../assets/images/board_pic_2.png" alt="">
        </div>
    </div>
</div>