<div fxLayout="column" style="text-align: center;">
    <div fxLayout="row" style="display: flex;" >
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Resources</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                Refreshing Designs
            </mat-card-content>
        </mat-card>
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Lifestyle</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                Healthier Lifestyle
            </mat-card-content>
        </mat-card>
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Entertainment</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                Gaming Evolution
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" style="display: flex;" >
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Inspiration</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                Best Workstations of the Year
            </mat-card-content>
        </mat-card>
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Food</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                Eating for Productivity
            </mat-card-content>
        </mat-card>
        <mat-card class="blogCards">
            <mat-card-header>
                <mat-card-title>Resources</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                A Design Mind-set
            </mat-card-content>
        </mat-card>
    </div>
</div>